<!DOCTYPE html>
<html>
<%- include('./partials/head/_head.ejs', { page: '404' } ) %>
<body>
<%- include('./partials/navbar/_navbar', { routes } ) %>

<p>404 Not Found</p>
<% if (error) { %>
<!-- <p><%= error.message %></p> -->
<% } %>

</body>
</html>