<!DOCTYPE html>
<html>
<%- include( './partials/head/_head.ejs' , { page: 'Home' } ) %>
<body>
<%- include('./partials/navbar/_navbar', { routes } ) %>


<section class="hero is-primary is-medium">
  <div class="hero-body">
    <p class="title">
      Welcome to PicBump!
    </p>
    <!-- <figure class="image is-128x128">
      <img src="../public/assets/splash.jpg">
    </figure> -->
    <img class="image is-3by2" src="splash.jpg" alt="splash">
    <!-- <div class="container is-fluid">
    </div> -->
  </div>
</section>
</body>
</html>