<!DOCTYPE html>
<html>
<%- include( './partials/head/_head.ejs' , { page: 'Home' } ) %>
<body class="has-background-primary">
<%- include('./partials/navbar/_navbar', { routes } ) %>

<div id="landing-bg" class="columns is-left">
  <div class="column is-half">
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body">
        <p class=""><span class="has-text-weight-bold is-size-1">Welcome to picbump!</span>
          <br>
          picbump is a place to share photos with others and bump your favorites. What's different about picbump is that each user can only have 3 pictures pinned to the public feed at any time, making it not a feed of the newest pictures, but instead only the ones people really want to show off!</p>
      </div>
    </section>
  </div>
  <!-- <div class="column is-one-third is-flex is-justify-items-center is-align-items-center">
    <img id="splash" src="/assets/splash.jpg" alt="splash">
  </div> -->
</div>
</body>
</html>