
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1>PicBump</h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-start">
      <a href="/posts/" class="navbar-item">Pinned Pics</a>
    <% if (typeof user !== 'undefined') { %>
    <%  } else { %>
    <% } %>




    </div>
    <% if (typeof user !== 'undefined') { %>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <!-- <a href="/users/<%= user.id %>" class="navbar-item button is-primary"><%= user.username %> </a> -->
            <!-- Dropdown Menu -->
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"><%= user.username %> </a>
              <div class="navbar-dropdown">
                <a href="/users/<%= user.id %>" class="navbar-item">My Pics</a>
                <a class="navbar-item">Manage Pins</a>
                <a href="/posts/new/" class="navbar-item ">Add A Pic</a>
              </div>
            </div>
            <a href="/logout/" class="button is-primary">Log out</a>
          </div>
        </div>
      </div>

      <% } else { %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/register/" class="button is-primary">
                <strong>Register</strong>
              </a>
              <a href="/login/" class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      <% } %>




  </div>
</nav>