<nav
  class="navbar is-dark is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/products">
      <img src="/assets/favicon-32x32.png" class="is-16x16 mr-2" />
      All Products
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- this will add a link to the new route -->
  <div class="navbar-menu navbar-end">
    
    <% if (typeof user !== 'undefined') { %>
      <p class="navbar-item"><%= user.username %></p>
    <% } %>

    <% if (typeof routes !== 'undefined') { %> <% routes.forEach((route) => { %>
    <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
    <% }) %> <% } %>
  </div>
</nav>
