<div class="navbar is-inline-flex is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://imgur.com/SRoAVvd" alt="instaBump logo">
        </a>
    </div>
   
    <div class="navbar-item is-flex-touch">
        <a class="navbar-item">
            <i class="material-icons">Pinned Feed</i>
        </a>
        <a class="navbar-item">
            <i class="material-icons">Your Profile</i>
        </a>
        
    </div>
</div>