<div class="navbar is-inline-flex is-transparent">
  <div class="navbar-brand">
      <a class="navbar-item">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Bulma">
      </a>
  </div>

  <div class="navbar-item is-flex-touch">
      <a class="navbar-item">
          <i class="material-icons">Pinned Feed</i>
      </a>
      <a class="navbar-item">
          <i class="material-icons">Your Profile</i>
      </a>
  </div>
</div>

  <!-- this will add a link to the new route -->
  <div class="navbar-menu navbar-end">
    
    <% if (typeof user !== 'undefined') { %>
      <p class="navbar-item"><%= user.username %></p>
    <% } %>

    <% if (typeof routes !== 'undefined') { %> <% routes.forEach((route) => { %>
    <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>
    <% }) %> <% } %>
  </div>

