<!DOCTYPE html>    
<html lang="en">
	<!-- head -->
	<%- include( './partials/head/_head.ejs', { page: 'Posts' } ) %> 
<body>
    <!-- Navbar Partial -->
    <%- include('./partials/navbar/_navbar', { routes } ) %>
    <div class="container">
        <div class="section">
          <div class="columns">
            <div class="column has-text-centered">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="<%= user.avatar %>" alt="Placeholder image">
                    </figure>
                </div>
                <h1 class="title" style="color: ghostwhite;"><%= user.fullName %></h1><br>
            </div>
          </div>
          <div id="app" class="row columns is-multiline">
            <div v-for="card in cardData" key="******card.id****" class="column is-4">
              <div class="card large">
                <div class="card-image">
                  <figure class="image is-16by9">
                    <img :src="*****card.image****" alt="Image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img :src="****card.avatar***" alt="Image">
                      </figure>
                    </div>
                  </div>
                  <div class="content">
                    <!-- {{card.content}} should be post.caption -->
                    <div class="background-icon"><span class="icon-twitter"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>