<!DOCTYPE html>
<html lang="en">
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: ghostwhite;">instaBump "Your Profile"</h1><br>
          </div>
        </div>
        <div id="app" class="row columns is-multiline">
          <div v-for="card in cardData" key="card.id" class="column is-4">
            <div class="card large">
              <div class="card-image">
                <figure class="image is-16by9">
                  <img :src="<%= post.image %>" alt="Image">
                </figure>
              </div>
              <div class="card-content">
              <div class="content">
                {{post.caption}}
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="../js/cardsData.js"></script>

    <!-- Using Vue to populate cards to reduce redundant code -->
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          cardData: cardsData
        }
      })

    </script>
  </body>

</html>