<!DOCTYPE html>
<html>
<%- include( '../partials/head/_head.ejs' , { page: 'My Profile' } ) %>
<body>
<%- include('../partials/navbar/_navbar', { routes } ) %>

<section class="section is-medium has-background-primary mb-6">
  <h1 class="title"><%= user.username %>'s Profile</h1>
  <figure class="image is-128x128">
    <img class="is-rounded" src="<%= user.avatar %> " alt="user.username">
  </figure>
</section>

</body>