<!DOCTYPE html>
<html>
<%- include( '../partials/head/_head.ejs', { page: 'Users' } ) %> 
<body>
<%- include('../partials/navbar/_navbar', { routes } ) %>

<form action="/posts" method="POST">
  <% if (typeof error !== 'undefined') { %>
  <p>Danger</p>
  <%= error.message %> 
  <% } %>
  <h1>New Post Page</h1>
  <label for="post-image">Image URL:</label>
  <input id="post-image" type="text" placeholder="http://" name="image"/>
  <label for="post-caption" >Caption:</label>
  <input type="text" placeholder="Lorem ipsum dolor sit amet" name="caption" id="post-caption">
  <button>Create post</button>
</form>

</body>
</html>